name: Build and Push Docker Images

on:
  workflow_run:
    workflows: ["Backend Tests","Frontend Tests"]
    types:
      - completed

jobs:
  backend-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./backend-engine/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/reqnest-backend:latest
            ${{ secrets.DOCKER_USERNAME }}/reqnest-backend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  frontend-build:
    runs-on: ubuntu-latest
    timeout-minutes: 15

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push frontend image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dynamic-api-dashboard/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/reqnest-frontend:latest
            ${{ secrets.DOCKER_USERNAME }}/reqnest-frontend:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
